<div class="header__wraper">
  <div class="header__logo">
    <img class="header__logo--img"
    src="../../../../assets/img/Toy stories logo.png"
    alt="Toy Stories" class="header__logo--img">
    <!-- <div class="header__logo--text">Don't let this story ends.</div> -->
  </div>
  <div class="header__nav">
    <nav class="header__nav--nav">
      <ul class="header__nav--ul">
        <li><a class="header__nav--a" href=#>Home</a></li>
        <li><a class="header__nav--a" href=#>About</a></li>
        <li><a class="header__nav--a" href=#>New Stories</a></li>
        <li><a class="header__nav--a" href=#>Contact</a></li>
      </ul>
    </nav>
  </div>
  <div class="header__login">
    <ul class="header__login--ul">
      <li><a class="header__login--a" href=# >Login</a></li>
      <li><a class="header__login--a" href=#>Sign up</a></li>
    </ul>
  </div>

</div>
