.categories__wrapper {
  max-width: 600px;
  margin: 40px auto;
  font-family: Neucha, sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'stuffedToys dolls lego'
    'puzzles books others';
  gap: 10px 10px;
}
.category {
  display: flex;
  justify-content: center;
  &__a {
    width: 100%;
    max-width: 200px;
    text-decoration: none;
    display: inline-block;
    min-width: 150px;
    height: auto;
    border: solid 2px;
    border-color: black;
    background-position: 0 90%;
    background-size: 4px 3px;
    border-style: solid;
    border-width: 2px;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    transition: all 235ms ease-in-out;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.75rem;
  }
  .a1{
    background-color: #5db0c22b;
  }
  .a2{
    background-color: blanchedalmond;
  }
  .a3{
    background-color: #ff87897f;
  }
  .a4{
    background-color: blanchedalmond;
  }
  .a5{
    background-color: #5dafc2;
  }
  .a6{
    background-color:blanchedalmond;
  }
  a:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  &__text {
    max-width: 100px;
    text-decoration: none;
    color: #41403e;
    margin: auto;
    text-align: center;
  }
  &__img {
    min-width: 80px;
    padding: 20px;
  }
}
#stuffedToys {
  grid-area: 'stuffedToys';
}
#dolls {
  grid-area: 'dolls';
}
#lego {
  grid-area: 'lego';
}
#puzzles {
  grid-area: 'puzzles';
}
#books {
  grid-area: 'books';
}
#others {
  grid-area: 'stuffedToys';
}
@media (max-width: 768px) {
  .categories__wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      'stuffedToys dolls'
      'lego puzzles'
      'books others';
  }
}
@media only screen and (max-width: 450px) {
  .categories__wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      'stuffedToys'
      'dolls'
      'lego '
      'puzzles'
      'books '
      'others';
  }
}
