.footer__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 90%;
  margin: 70px auto 0 auto;
  max-width: 1050px;
  position: relative;
  height: auto;
  background-color: white;
  font-family: Neucha, sans-serif;
  .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
    h1 {
      margin: 0;
      padding: 0;
      font-family: inherit;
      font-size: 12px;
      line-height: 17px;
      padding: 20px 0px 5px 0px;
      color: #999999;
      font-weight: normal;
      text-transform: uppercase;
      letter-spacing: 0.25em;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        color: #999999;
        font-size: 14px;
        font-family: inherit;
        font-weight: bold;
        padding: 5px 0px 5px 0px;
        cursor: pointer;
        transition: 0.2s;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
      }
      li:hover {
        color: #ff87897f;
        transition: 0.1s;
        -webkit-transition: 0.1s;
        -moz-transition: 0.1s;
      }
    }
  }
  .col--social ul {
    display: flex;
    margin-top: 10px;
    padding: 5px 0px 5px 0px;
    li {
      display: inline-block;
      padding-right: 8px;
    }
  }
}
@media (min-width: 450px) and (max-width: 600px){
  .footer__wrapper {
    flex-wrap: wrap;
    justify-content: center;
    .col{
      text-align: center
     }
     .col--social ul {
      justify-content: center;
      padding-left: 10px;
     }
  }
}
@media (max-width:449.98px) {
  .footer__wrapper {
    flex-direction: column;
    align-items: center;
     .col{
      text-align: center
     }
     .col--social ul {
      justify-content: center;
      padding-left: 10px;
     }
     .col__dropdown {
      position: relative;
      display: inline-block;
    }
  }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #feeaea;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    .col__dropdown:hover .dropdown-content {
      display: block;

    }
    .col__dropdown:hover h1 {
      cursor: pointer;
    }
}
