.hero__wrapper {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 90%;
  max-width: 1050px;
  font-family: Neucha, sans-serif;
}
.text {
  max-width: 700px;
  margin: 30px 30px 0 40px;
  font-size: 40px;
  color: #41403e;
  text-align: center;
}
.img {
  max-width: 350px;
  &__logo {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .img {
    display: none;
  }
  .text {
    font-size: 30px;
  }
}
